<app-navigation></app-navigation>

<div class="mycontainer">

<div *ngIf="patient$" class="details">
    <h1>{{ patient$.name }}</h1>
    <p><label>Station:</label> {{ patient$.station}}</p>
    <p><label>Fachbereich:</label> {{ patient$.faculty }}</p>
    <p><label>Symptome:</label> {{ patient$.symtomps }}</p>
    <p><label>Medikamente:</label> {{ patient$.medication }}</p>
    <p><label>Diagnose:</label> {{ patient$.diagnosis }}</p>
  

    
  <a mat-raised-button [routerLink]="['/updatepatient', patient$.userid]">Bearbeiten</a>


</div>

</div>