<app-navigation></app-navigation>

<h1>Termine</h1>

<div *ngFor='let appointment of appointments$'>
    <p>Zeit: {{appointment.time}}, Station: {{appointment.station}}, Fachbereich: {{appointment.faculty}}, Doctor: {{appointment.doctor}}</p>
    
</div>
<p>
<h1>Neuer Termin</h1>

<div class="form-group">
    <label for="power">Name des Patienten</label>
    <input type="text" class="form-control" id="name">
    <label for="power">Datum</label>
    <input type="text" class="form-control" id="date">
    <label for="power">Fachbereich</label>
    <input type="text" class="form-control" id="faculty">
    <label for="power">Station</label>
    <input type="text" class="form-control" id="station">
    <button type="submit" class="btn btn-success">Submit</button>
    
  </div>