<app-navigation></app-navigation>

<div class="mycontainer">

<h1>Patienten</h1>

<a mat-raised-button [routerLink]="'/newpatient'">Neuer Patient</a>

<div *ngFor='let patient of patients$'>
    <h2>
        <a [title]="patient.id + ' details'" [routerLink]="['/patient', patient.userid]">
            {{patient.name}}
        </a>
    </h2>
    <p>Station: {{patient.station}}, Fachbereich: {{patient.faculty}}, Symtome: {{patient.symtomps}}, Diagnose: {{patient.diagnosis}}, Medikamente: {{patient.medication}}</p>
    
</div>

</div>
