<app-navigation></app-navigation>

<div class="mycontainer">

<h1>Patienten bearbeiten</h1>


<div class="form-group">
    <label for="power">Name des Patienten</label>
    <input type="text" class="form-control" id="name" (input)="name=$event.target.value"  [value]="name" style="width: 501px;">
    <label for="power">Station</label>
    <input type="text" class="form-control" id="station" (input)="station=$event.target.value"  [value]="station" style="width: 501px;">
    <label for="power">Fachbereich</label>
    <input type="text" class="form-control" id="faculty" (input)="faculty=$event.target.value"  [value]="faculty" style="width: 501px;">
    <label for="power">Symptome</label>
    <input type="text" class="form-control" id="symtomps" (input)="symtomps=$event.target.value"  [value]="symtomps" style="width: 501px;">
    <label for="power">Diagnose</label>
    <input type="text" class="form-control" id="diagnosis" (input)="diagnosis=$event.target.value"  [value]="diagnosis" style="width: 501px;">
    <label for="power">Medikamente</label>
    <input type="text" class="form-control" id="medication" (input)="medication=$event.target.value"  [value]="medication" style="width: 501px;">

    <button type="submit" class="btn btn-danger"  color="danger" (click)="deletePatient()">Löschen</button>
    <button type="submit" class="btn btn-warning"  color="danger" (click)="abort()">Abbrechen</button>
    <button type="submit" class="btn btn-success" (click)="updatePatient()">Speichern</button>
    
    
  </div>
</div>